@model DetalhesDespesaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes da Despesa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">

        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes</h3>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Id" class="control-label fs-5">Id:</label>
                    <input name="Id" class="form-control" value="@Model.Id" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Descricao" class="control-label fs-5">Descrição:</label>
                    <input name="Descricao" class="form-control" type="text" value="@Model.Descricao" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="DataOcorrencia" class="control-label fs-5">Data de Ocorrência:</label>
                    <input name="DataOcorrencia" class="form-control" type="date" value="@Model.DataOcorrencia.ToString("yyyy-MM-dd")" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Valor" class="control-label fs-5">Valor (R$):</label>
                    <input name="Valor" class="form-control" type="text" value="@Model.Valor.ToString("N2")" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="FormaPagamento" class="control-label fs-5">Forma de Pagamento:</label>
                    <input name="FormaPagamento" class="form-control" type="text" value="@Model.FormaPagamento" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Categorias" class="control-label fs-5">Categorias:</label>
                    <div class="form-control" style="height:auto; min-height:38px;" readonly disabled>
                        @if (Model.Categorias != null && Model.Categorias.Any())
                        {
                            <ul class="mb-0">
                                @foreach (var categoria in Model.Categorias)
                                {
                                    <li>@categoria.Titulo</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <em>Sem categorias vinculadas</em>
                        }
                    </div>
                </div>

                <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                    <a href="/despesas" class="text-coffee">Voltar para a listagem</a>
                </div>
            </div>
        </div>

    </div>
</div>
